<h1>Articles Tagged with <%= @tag.name %></h1>

<u1>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</u1><br/>

<%= link_to "delete", tag_path(@tag), method: :delete, data: {confirm: "Really delete the tag?" } %><br />

<%= link_to "<< Back to Tags List", tags_path %><br/>
<%= link_to "<< Back to Article List", articles_path %>